.view-wrapper {
  width: 100%;
  .canvas-wrapper {
    .canvas-element {
      overflow-x: hidden;
      top: 0;
      width: 100vw;
      height: 100vh;
      z-index: 0;
    }
  }

  .content-wrapper {
    width: 100vw;
    .lp-title {
      border: 1px solid $border-color;
      position: relative;
      align-self: flex-start;
      display: inline-block;
      text-transform: uppercase;
      animation: slideInLeft 1s;
    }
    .lp-title {
      @for $i from 0 through 13 {
        .span-#{$i} {
          position: relative;
          display: inline-block;
          animation: flip 2s 1;
          animation-delay: #{$i * 3.1}s;
        }
      }
    }
    @keyframes slideInLeft {
      from {
        transform: translateX(-100%);
        opacity: 0;
      }
      to {
        transform: translateX(0);
        opacity: 1;
      }
    }
    @keyframes flip {
      0% {
        transform: rotateY(0deg);
      }
      75% {
        transform: rotateY(180deg);
      }
      100% {
        transform: rotateY(360deg);
      }
    }

    .lp-typo {
      font-family: $font;
      font-size: 1em;
      font-weight: 520;
      color: $text-color;
      text-align: left;
      display: flex;
      flex-direction: column;
    }

    .lp-button {
      position: absolute;
      width: 50%;
      bottom: 10%;
      left: auto;
      right: 27%;
      text-transform: uppercase;
      &:hover {
        color: $text-color;
        background-color: $border-color;
      }
    }

    @media screen and (max-width: $mobile-width) {
      width: 100%;
      .style-div {
        top: auto;
        bottom: 0;
          .lp-typo {
              .slideshow-space {
                  width: 100%;
                  .slide-text {
                      width:100%;
                  }
              }
          }
      }
    }
  
  }

}
// breakpoints for the landing page

// $grey:#3D3D3E;
// $light-grey: #6b6767;
// $lighter-grey: #756D6B;
// $green-color: #94d2a5;
// $green-blue: #8FC3CF;
// $blue-color: #768bae;
// $lighter-blue-color:#8ab4f8;
// $salmon-color: #EF959C;
// $lighter-salmon-color: #f7aa9e;
// $pink-color: #F09FA5;
// $white: #FFF;
// $darker-blue-color: #2B313B;
// $blackish: #282829;

