.landing-page {
    background-color:$alt-background-color;
    width: auto;
    height: 100vh;
    justify-content: center;


    .style-div {
        background-color: $green-blue;
        height: 60vh;
        margin-left: -5em;
        margin-right: -5em;
        padding-left: 2em;
        padding-right: 2em;
        border: 2em solid $border-color;
        border-right-style: dotted;
        border-left-style: dotted;
        border-bottom-width: 1em;
        border-top-width: 1em;
        border-radius: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
    .landingPage-typo {
        width: 67%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1em;
        font-family: $font;
        font-size: 1em;
        font-weight: 520;
        color: $text-color;
        text-align: left;
        display: flex;
        flex-direction: column;

        #expandable {
            overflow: hidden;
            height: 0;
            opacity: 0;
            transition: height 0ms 400ms, opacity 400ms 0ms;
        }
        #expandable.visible {
            height: auto;
            opacity: 1;
            transition: height 0ms 0ms, opacity 600ms 0ms;
        }
        .landing-page-divider {
            margin-top: 1em;
            margin-bottom: 1em;
        }

        .down-arrow {
            justify-self: center;
            &:hover {
                cursor: pointer;
                color: $salmon-color;
            }
            &:active {
                color: $lighter-salmon-color;
            }
        }

        .thank-you {
            margin-top: 1em;
            margin-bottom: 1em;
            text-align: justify;
        }

    }
    }
       
    }

// $grey:#3D3D3E;
// $light-grey: #6b6767;
// $lighter-grey: #756D6B;
// $green-color: #94d2a5;
// $green-blue: #8FC3CF;
// $blue-color: #768bae;
// $lighter-blue-color:#8ab4f8;
// $salmon-color: #EF959C;
// $lighter-salmon-color: #f7aa9e;
// $pink-color: #F09FA5;
// $white: #FFF;
// $darker-blue-color: #2B313B;
// $blackish: #282829;
