@import '../variables.scss';

.view-wrapper {
    .upper-content-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        background-color: $background-color;
    }
    .copyright-wrapper {
        background-color: $alt-background-color;
    }
}