@mixin scrollbar-remove($element) {
  #{$element} {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
  }
  #{$element}::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
}
.view-wrapper {
  height: 100%;
  overflow: hidden;
  .scroll-container {
    height: 100vh;
    overflow-y: scroll;
  }
  .canvas-wrapper {
    position: fixed;
    z-index: -1;
    height: 100vh;
    overflow: hidden;
    &.at-map {
      height: 50vh;
    }
  }
  .item-wrapper {
    position: relative;
    width: 100%;
  }
  .map-page-wrapper {
    height: 100%;
    overflow: hidden;
  }
}

@include scrollbar-remove('.scroll-container');
