.material-symbols-outlined {
  position: fixed;
  display: inline-block;
  visibility: hidden;
  color: white;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  &.active {
    visibility: visible;
    color: white;
    bottom: 50px;
    left: 30px;
    scale: 3;

    animation: translateUp 1s ease-in-out infinite alternate;
  }
}

@keyframes translateUp {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-20px);
  }
}
