.copyright-wrapper {
    margin: 0;
    padding: 0;
    opacity: 0.7;
    width: 100%;
    justify-content: space-between;
    display: flex;
    position: absolute;
    bottom: 0;
    top: auto;
    z-index: 1;
}