.wrapper-wrapper {
  width: 100%;
  opacity: 0.85;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  .map-button {
    display: none;
    visibility: hidden;
    width: 100%;
    font-size: 2em;
    background: $blue-color;
    padding: 1em 1.5em;
    margin: 1em;
    border-top: 0.5em solid $green-blue;
    border-bottom: 0.5em solid $darker-blue-color;
    &:hover {
      border-top: 0.5em solid $blue-color;
      border-bottom: 0.5em solid $lighter-salmon-color;
    }
    &.active {
      visibility: visible;
      display: inline-block;
    }
  }
}
