.slideshow-space {
  width: 100%;
  .slide-wrapper {
    display: none;
    overflow: hidden;
  }

  .active-slide {
    @extend .slide-wrapper;
    display: flex;
    flex-direction: column;
    .slide-content {
      position: absolute;
      top: 0;
      opacity: 1;
      visibility: visible;
      min-width: 40%;
      max-width: 42%;
      overflow-wrap: break-word;
      font-weight: 600;
      font-size: 2em;
      background-color: $green-blue;
      .slide-text {
        margin: 0;
        padding: 0.5em;
        padding-left: 1em;
        height: 100%;
        // border-right: 0.3em solid $lighter-salmon-color;
        border-bottom: 0.5em solid $darker-blue-color;
      }
      .next-slide-arrow {
        padding-top: 1em;
        transform: rotate(90deg);
        position: absolute;
        left: auto;
        right: 0%;
      }
      .slide-counter {
        position: absolute;
        left: 47%;
        padding-top: 1em;
        font-size: 0.5em;
        font-weight: 400;
        color: $text-color;
      }
      .prev-slide-arrow {
        padding-top: 1em;
        transform: rotate(90deg);
        position: absolute;
        left: 5%;
        right: auto;
      }
      
    @media screen and (max-width: $mobile-width) {
      min-width: 100%;
      max-width: 100%;
      }

    @media screen and (min-width: $mobile-width) and (max-width: $tablet-width) {
      min-width: 100%;
      max-width: 100%;
    }
    }
  }
}
