.slideshow-space {
  width: 100%;
  .slide-wrapper {
    display: none;
    overflow: hidden;
  }

  .active-slide {
    @extend .slide-wrapper;
    display: flex;
    flex-direction: column;
    .slide-content {
      text-align: start;
      border-bottom: 3rem solid $darker-blue-color;
      position: absolute;
      bottom: 26%;
      opacity: 1;
      width: 100%;
      overflow-wrap: break-word;
      font-weight: 600;
      font-size: 2em;
      .slide-text {
        color: $green-blue;
        margin: 0;
        padding: 0.5em;
        padding-left: 1em;
      }
      .next-slide-arrow {
        position: absolute;
        transform: rotate(90deg);
        right: 10%;
      }
      .slide-counter {
        left: 49%;
        right: auto;
        position: absolute;
        font-size: 0.5em;
        font-weight: 400;
        color: $text-color;
      }
      .prev-slide-arrow {
        transform: rotate(90deg);
        position: absolute;
        left: 10%;
      }

      @supports (-webkit-text-stroke: 1px black) {
        .slide-text {
          -webkit-text-stroke: 1px solid white;
          -webkit-text-fill-color: black;
          text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
        }
      }
    }
  }
}
