.slideshow-space {
  width: 100%;
  .slide-wrapper {
    display: none;
    overflow: hidden;
  }

  .active-slide {
    @extend .slide-wrapper;
    display: flex;
    flex-direction: column;
    width: 100%;
    .slide-content {
      border-bottom: 2rem solid $darker-blue-color;
      position: absolute;
      bottom: 20%;
      opacity: 1;
      visibility: visible;
      width: 100%;
      overflow-wrap: break-word;
      font-weight: 600;
      font-size: 2em;
      .slide-text {
        color: $green-blue;
        margin: 0;
        padding: 0.5em;
        padding-left: 1em;
      }
      .next-slide-arrow {
        position: absolute;
        transform: rotate(90deg);
        right: 10%;
      }
      .slide-counter {
        left: 49%;
        right: auto;
        position: absolute;
        font-size: 0.5em;
        font-weight: 400;
        color: $text-color;
      }
      .prev-slide-arrow {
        transform: rotate(90deg);
        position: absolute;
        left: 10%;
      }
    }
  }
}
