# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#otherstuff
../bckend
../secrets
# dependencies
/node_modules

/.pnp
.pnp.js
/.snap
# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

./tsconfig.json
src/__tests__/__mocks__
src/__tests__/__snapshots__
src/__tests__/components/__snapshots__
src/__tests__/views/__snapshots__

npm-debug.log*
yarn-debug.log*
yarn-error.log*

notes.js
#where do i store an api key? encrypted in the backend. Only use when user is authenticated.