@import './variables.scss';
@import './Views/MainViewStyle.scss';
@import './components/index.scss';


.App {
  text-align: center;
  height: 100vh;
  width: auto;
  font-family: $font;
  background-color: $background-color;
}