/* https://coolors.co/94d2a5-8ab4f8-768bae-616163-6b6767-756d6b-ffbfa0-f7aa9e-ef959c-f09fa5 */
// other greys to try: 3D3D3E #616163

// Color Variables
$grey: #3d3d3e;
$light-grey: #6b6767;
$lighter-grey: #756d6b;
$green-color: #94d2a5;
$green-blue: #8fc3cf;
$blue-color: #768bae;
$lighter-blue-color: #8ab4f8;
$salmon-color: #ef959c;
$lighter-salmon-color: #f7aa9e;
$pink-color: #f09fa5;
$white: #fff;
$darker-blue-color: #2b313b;
$blackish: #282829;

// Style Sets
// Colors- Background: greys - borders: green/blue - buttons are salmon/pink
// Text color is white/unsure

// Theme Color Variables
// $background-color: $grey;
// $alt-background-color: light-grey;
// $border-color: green-color;
// $button-color: salmon-color;
// $text-color: white

$background-color: $grey;
$alt-background-color: #6b6767;
$border-color: $green-color;
$button-color: $salmon-color;
$text-color: $white;

$font: 'Josefin Sans', sans-serif;
